/* 
    此文件中放每个页面中都有top区域和logo区域的样式
*/
/* ================================ top 区域的 css  */
#top{
    background-color: #F9F9F9;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.top{
    height: 30px;
}
.top .top-user>li{
    float: left;
    height: 30px;
    line-height: 30px;
}
.top .top-user>li>a{
    padding: 0 10px;
}
.top .top-user>.collection>a{
    padding-left: 20px;
    background: url("../imgs/star.png") no-repeat;
}
.top .top-user>.collection>a:hover{
    background: url("../imgs/star-hover.png") no-repeat;
}
.top .top-user>.login{
    color: #F76120;
}
.top .top-user>.reg>a{
    border-right: 1px solid #ccc;
}

/* ---------------- 右侧 */

.top-info>li{
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative; /* 参考点 */
}
.top-info>li>a{
    border-right: 1px solid #ccc;
    padding: 0 21px 0 11px;
}
.sanjiao{
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #666;
    position: absolute;
    top: 13px;
    right: 8px;
}

/* ---------------- 下拉框 */
.cover{
    position: absolute;
    top: 0;
    left: -1px;
    right: 0;
    bottom: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    padding-left: 11px;
    /* padding-right: 18px; */
    line-height: 30px;
    color: #2BB8AA;
    cursor: pointer;
    display: none;
}
.cover-list{
    position: absolute;
    top: 27px;
    right: 0;
    border: 1px solid #ccc;
    min-width: 80px;
    background-color: #fff;
    display: none;
}
.cover-list>ul{
    padding:15px;
}
.cover-list>ul>li{
    white-space: nowrap;
}
.sanjiaot{
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: #666;
    position: absolute;
    top: 8px;
    right: 8px;
}
.top-info>li:hover a{
    border-right: 0px;
}
.top-info>li:hover .cover{
    display: block;
}
.top-info>li:hover .cover-list{
    display: block;
}

/* ================================ logo 区域的 css  */

/* ----- logo */
#logo{
    padding-top: 19px;
    height: 84px;
}
.logo>h1{
    display: inline-block;
}
.logo>ul{
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 7px;
    margin-left: 10px;
}
.logo .city{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-bottom: 4px;
}
.logo .city-btn{
    border: 1px solid #ccc;
    padding: 5px 6px;
}

/* ------ 搜索 */
.search{
    margin-left: 183px;
}
.search .search-top{
    width: 486px;
    height: 38px;
    border: 2px solid #2db8ad;
    overflow: hidden;
}
.search .search-top>button{
    float: left;
}
.search .search-top>input{
    float: left;
    height: 100%;
    width: 352px;
    padding-left: 5px;
    outline: none;
    border: 0;
}
.tuangou{
    height: 100%;
    border: 0;
    outline: 0;
    border-right: 1px solid #ccc;
    background: #fff;
    padding-left: 14px;
    padding-right: 22px;
    line-height: 38px;
    font-size: 14px;
    color: #666;
    position: relative;
}
.tuangou>i{
    top: 16px;
}
.tuangou-toggle{
    position: absolute;
    top: 37px;
    left: -1px;
    right: -1px;
    border: 1px solid #ccc;
    border-top: 0;
    background-color: #fff;
}
.search-top .sousuo{
    width: 64px;
    height: 100%;
    float: right;
    background-color: #2bb8aa;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 14px;
}
.href-list{
    padding-top: 14px;
}
.href-list>a{
    margin-right: 20px;
}
/* ------ 最右侧的退 */
.tui{
    position: relative;
    top: 8px;
}
.tui>li{
    float: left;
    text-align: center;
    margin: 0 10px;
    position: relative;
}
.tui>li>a{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

/* ================================ nav 区域的 css  */
#nav{
    height: 40px;
    color: #fff;
    background-color: #2bb8aa;
}
#nav a{
    color: #fff;
    text-decoration: none;
}
#nav>h2{
    width: 230px;
    padding-left: 15px;
    background-color: #1caf9a;
    position: relative;
    height: 100%;
    line-height: 40px;
}
#nav>h2:hover .subnav{
    display: block;
}
#nav>.list{
    padding-left: 5px;
}
#nav>.list>li{
    height: 40px;
    line-height: 40px;
    padding: 0 23px;
}
#nav>.list>li>a{
    font-size: 14px;
    font-weight: bold;
}
#nav>.list>li:hover{
    background: #00C3B0;
}

/* ========== 侧边导航 css */
#nav .subnav{
    background: #fafafa;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;;
}
#nav .subnav a{
    color: #000;
}
#nav .subnav a.fr{
    color: #999;
    font-size: 12px;
}
#nav .subnav>.list{
    border: 1px solid #eee;
    border-top: 0;
    height: 477px;
    position: relative;
}
#nav .subnav>.list>li{
    padding-left: 10px;
    padding-right: 30px;
    border-bottom: 1px solid #eee;
    height: 52px;
    line-height: 52px;
    position: relative;
}
#nav .subnav>.list>li>span{
    position: absolute;
    right: 16px;
    top: 0px;
    color: #999;
}
#nav .subnav>.list>li>.line{
    position: absolute;
}
#nav .subnav>.list>li>.t{
    width: 1px;
    background-color: #fff;
    top: 0;
    right: -1px;
    height: 52px;
}
#nav .subnav>.list>li>.l{
    width: 14px;
    height: 1px;
    background: #eee;
    right: 0;
    bottom: -1px;
}
#nav .subnav>.list .dis{
    display: none;
}
#nav .subnav>.list>li:hover>.dis{
    display: block;
}
/* #nav .subnav>.list>li:hover 表示鼠标放到li上面 */
/* 让它后面紧挨着的兄弟ul显示出来 + 表示后面紧挨着的兄弟元素 */
#nav .subnav>.list>li:hover+ul.dis{
    display: block;
}
#nav .subnav>.list>li:hover{
    background-color: #fff;
}
#nav .subnav>.list>li:hover span{
    display: none;
}

/*  三级导航 css */
.threenav{
    position: absolute;
    left: 246px;
    height: 477px;
    background-color: #fff;
    width: 200px;
    top: 0px;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    z-index: 999;
}